html {
    padding: 0;
    margin: 0;
}
body {
    padding: 0;
    margin: 0;
}
h1 {
    font: 600 14px/1 Candara, sans-serif;
    color: #444;
    border-bottom: 1px solid #aca;
    margin: 0 0 6px;
    padding: 6px;
    padding-left: 33px;
    background: -webkit-gradient(linear, 0 5%, 0 100%, from(#fff), to(#fffef0));;
    text-shadow: 0 1px #eee;
    -webkit-box-shadow: 0 1px 2px #dfdfde; 
}
h1 strong {
    font-size: 14px;
    color: #f63;
    padding: 4px;
}

h1 a{
    color: #444;
    display: inline-block;
    text-decoration: none;
    padding-bottom: 2px;
    border-bottom: 1px solid #777;
}

p {
    font: 13px/1.4 Tahoma;
    color: #333;
    padding: 5px 7px;
    margin: 0 0 6px;
    word-break: break-all;
}
p.digests {
    padding: 0 8px;
}
h1 img {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 6px;
    top: 0;
}

a{
    color: #999;
}

a#enter, a#ignore {
    font: 12px/1 'Tahoma',serif;
    color: #aaa;
    display: block;
    text-align: right;
    margin-bottom: 5px;
    margin-right: 8px;
    cursor: pointer;
}
a#enter:hover, a#ignore:hover {
    color: #d40;
}
a#ignore {
  color: #888;
  float: left;
  margin-left: 10px;
}
